{% extends 'listado.html' %}


{% block columnas %}

<tr>
      <th scope="col">id</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Fecha publicacion</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Idioma</th>
      <th scope="col">Autor</th>
      <th scope="col">Editorial</th>
      <th scope="col">Categoria</th>
      <th scope="col">Imagen</th>
      <th scope="col">Opciones</th>
</tr>

{% endblock columnas %}


{% block filas %}

{% for c in object_list %}
<tr>
      <td>{{c.id}}</td>
      <td>{{c.titulo}}</td>
      <td>{{c.descripcion}}</td>
      <td>{{c.fechapublicacion}}</td>
      <td>{{c.cantidad}}</td>
      <td>{{c.idioma}}</td>
      <td>{{c.obtener_autores}}</td>
      <td>{{c.editorial}}</td>
      <td>{{c.obtener_categoria}}</td>
      <td class="text-center">
            <img src="{{ c.imagen.url }}" class="img-fluid d-block mx-auto" style="width: 20px; height: 20px;">
      </td>
      <td>
            <a href="{% url 'libro:libro_editar' c.id %}" class="btn btn-warning btn-xs"><i
                        class="fas fa-edit"></i></a>
            <a href="{% url 'libro:libro_eliminar' c.id %}" class="btn btn-danger btn-xs"><i
                        class="fas fa-trash"></i></a>
      </td>
</tr>

{% endfor %}

{% endblock filas %}

{% block javascript %}
<script type="application/javascript">
      $(document).ready(function () {
            $('#data').DataTable({
                  responsive: true,
                  autoWidth: false
            });

      

      });
</script>
{% endblock javascript %}